// Buttons
.content-area,
.site-footer {
  button,
  .button,
  .button-green-border input[type="reset"],
  input[type="submit"],
  input[type="button"] {
    display: inline-block;
    display: block;
    width: auto;
    width: 180px;
    height: fit-content;
    margin-bottom: 0;
    padding: 17px 10px;
    color: $color-white;
    font-size: var(--font-size-small);
    font-weight: $font-weight-medium;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    appearance: none;
    background-color: $color-main;
    border: 2px solid $color-main;
    border-radius: $border-radius;
    cursor: pointer;
    transition: $transition-duration linear background;

    @media (min-width: $container-ipad) {
      width: 200px;
      padding: 17px;
    }

    // Button styles
    &.button-ghost {
      color: $color-links;
      background-color: transparent;
      border: .1rem solid $color-links;
    }

    &:hover,
    &:focus {
      color: $color-main;
      background-color: $color-white;
      border: 2px solid $color-main;
    }
  }
}

textarea,
select,
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="search"] {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1.2rem;
  padding: 1.5rem 1.5rem 1.5rem 0;
  font-family: $font-paragraphs;
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-decoration: none;
  appearance: none;
  background: transparent;
  background: $color-white;
  border: none;
  border-bottom: 1px solid $color-darkgrey;
  transition: $transition-duration;

  &::placeholder {
    color: $color-paragraphs;
    opacity: .4;
  }

  &:active {
    border: none;
  }

  &:focus {
    background: $color-white;
    border-bottom: 1px solid darken(#d9d9d9, 12%);
    outline: none !important;

    &::placeholder {
      color: $color-black;
      opacity: .8;
    }
  }
}

textarea {
  max-height: 200px;
  margin-bottom: 15px;
}

// Select drop downs
select {
  width: 100%;
  max-width: 100%;
  min-width: 0;
  padding: 15px;
  color: $color-paragraphs;
  font-size: var(--font-size-medium);
  line-height: 24px;
  text-indent: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../svg/select.svg');
  background-position: right 0 center;
  background-repeat: no-repeat;
  background-size: 40px auto;
  border: .1rem solid $color-border-forms;
  border-radius: 0;
  transition: none;

  &::-ms-expand {
    display: none;
  }
}
