// -----------------------------------------------------------
// General
//
// This file is meant for general styles and containers
// that apply everywhere throughout the website. Add more
// always repeating elements right below.
// -----------------------------------------------------------

body {
  background: $color-body;
}

html {
  scroll-behavior: smooth;
}

.entry-header {
  .page-title-heading {
    margin-bottom: var(--padding-container-vertical);
  }
}

.sec-heading {
  color: $color-main;
  font-weight: $font-weight-medium;
}

.page-title-heading {
  margin-bottom: 0;
  font-weight: $font-weight-medium;
  text-align: center;
}

.page-title-heading::after {
  content: "";
  display: block;
  width: 80px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: $color-main;
  border-top: 4px solid $color-main;
  border-bottom: 4px solid $color-main;
  border-radius: $border-radius;
}

.title-latin {
  margin: 0;
  color: $color-main;
  font-family: 'Pacifico';
  font-weight: $font-weight-paragraphs;
}

.image-radius {
  border-radius: $border-radius;
}

.remove-ul-styling {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Site wrapper
.site {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

// Containers
.container {
  max-width: $grid-base-size;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  padding-top: var(--padding-container-vertical);
  padding-bottom: var(--padding-container-vertical);
}

// Clear block containers by default
.site-main .container {
  clear: both;
  overflow: hidden;
}

// Meta actions
.entry-footer {
  display: flex;
  justify-content: space-between;
  clear: both;
  overflow: hidden;
}

// Better edit link
.edit-link {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  margin-top: 2rem;
  margin-bottom: 0;
  clear: both;
  text-align: left;
  transition: all $transition-duration;
  overflow: hidden;

  a {
    display: block;
    margin: 0;
    padding: 2rem;
    clear: both;
    color: $color-edit-link;
    text-align: center;
    text-decoration: none;
    background: $color-background-edit-link;
    border: 2px dashed $color-edit-link;
    transition: all $transition-duration;
  }

  a:hover {
    color: $color-edit-link;
    background: #efefef;
  }
}
