.site-header {
  position: relative;

  // Easier flex way to align logo and navigation
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $grid-base-size;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding-container-horizontal);
  padding-right: var(--padding-container-horizontal);
  padding-top: var(--padding-site-header-vertical);
  padding-bottom: var(--padding-site-header-vertical);
  z-index: 15;

  .site-branding {
    &__figure {
      height: $navheight-mobile;
      margin: 0;

      @media (min-width: $responsivenav) {
        height: $navheight-expanded;
      }

      .logo {
        // width: 100px;
        width: auto;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.top-bar {
  display: none;
}

@if $top-bar==true {
  .top-bar {
    display: block;
    height: $top-bar-mobile;
    background-color: $color-top-bar;
    transition: all $transition-duration ease;

    @media (min-width: $responsivenav) {
      height: $top-bar-expanded;
    }

    .container {
      position: relative;
      position: relative;
      top: 50%;
      align-items: center;
      height: auto;
      max-width: $grid-base-size;
      margin-left: auto;
      margin-right: auto;
      padding-left: var(--padding-container-horizontal);
      padding-right: var(--padding-container-horizontal);
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: $font-size-small;
      transform: translateY(-50%);
      z-index: 15;
    }

    a {
      display: block;
      font-size: $font-size-small;
    }

    &__open-hours {
      display: flex;
      align-items: center;
      justify-content: center;

      .hours {
        display: flex;
        flex-direction: column;
      }

      span {
        font-size: $font-size-tiny;
      }

      span:nth-of-type(1) {
        margin-right: 10px;
      }

      &-figure {
        width: 20px;
        height: 20px;
        margin: 0 20px 0 0;

        img {
          width: auto;
          height: 100%;
          object-fit: contain;
        }
      }

      @media (min-width: $container-mobile) {
        justify-content: flex-end;

        .hours {
          display: block;
        }

        span {
          font-size: $font-size-small;
        }
      }
    }
  }
}
