.site-footer {
  text-align: center;
  background-color: $color-darkgrey;

  .container {
    padding: var(--padding-container-horizontal);
  }

  .social-medias {
    padding-top: 2rem;
  }

  &__site-branding {
    &-figure {
      width: 14rem;
      height: auto;
      margin: 0;

      .logo {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  &__theme-info {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 1.2rem;
    border-top: 2px solid $color-main;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

    @media (min-width: $container-ipad) {
      justify-content: space-between;
    }
    
  }
}
