// These styles are required by WordPress.org Theme Check
.sticky {
  margin-bottom: 2rem;
  padding: 2rem;
  border: 1px dashed darken($color-tags-and-search-items, 5%);
}

.comment-list li.bypostauthor,
.bypostauthor {
  padding: 2rem;
  border: 1px dashed rgba($color-main, .5);
}
