.mfp-img {
  cursor: default;
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer;
}

.mfp-arrow-left::after,
.mfp-arrow-right::after {
  content: '';
  width: 30px;
  height: 30px;
  background-size: contain !important;
  border: none;
}

.mfp-arrow-right::after {
  background: url(../svg/chevron-right.svg) no-repeat;
}

.mfp-arrow-left::after {
  background: url(../svg/chevron-right.svg) no-repeat;
  transform: rotate(180deg) translateX(15px);
}

.mfp-arrow::after {
  border: none;
}

.mfp-arrow-left::before,
.mfp-arrow-right::before {
  content: '';
  display: none;
}
