.social-medias {
  display: flex;
  gap: 10px;

  &__social-media-link-figure {
    width: 20px;
    height: 20px;

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }

    &:hover {
      transform: scale(120%);
      transition: transform $transition-duration;
    }
  }
}
