// bar above the main navigation
$top-bar: true;

$top-bar-expanded: 40px;
$top-bar-mobile: 40px;
$top-bar-collapsed: 35px;

$border-radius: 1rem;

$sticky-navigation: true;

$navheight-expanded: 92px;
$navheight-mobile: 84px;
$navheight-collapsed: 92px; //52
