// ---------------------------------------------------------
// Accessibility
//
// A hidden screen reader for readers, focus elements for
// vision impaired and other useful a11y CSS hacks.
// ---------------------------------------------------------
/* stylelint-disable selector-class-pattern, selector-max-combinators, selector-max-compound-selectors, selector-max-pseudo-class */

// Variables
$focus-outline-color: #4d4aff;
$focus-skip-link-color: #21759b;
$focus-text-color: $color-black;
$focus-outline-style: 2px solid;

// Text meant only for screen readers.
.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.
  border: 0;
  overflow: hidden;

  &.skip-link {
    margin: 5px;

    &:focus {
      color: $focus-outline-color;
      background: $color-white;
      outline: 2px solid $focus-outline-color;
    }
  }

  &:focus {
    left: 5px;
    top: 5px;
    display: block;
    width: auto;
    height: auto;
    padding: 15px 23px 14px;
    clip: auto !important;
    clip-path: none;
    color: $focus-skip-link-color;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    background-color: $color-lightgrey;
    border-radius: 0;
    box-shadow: 0 0 2px 2px rgba($color-black, .6);
    z-index: 100000; // Above WP toolbar.
  }
}

// Do not show the outline on the skip link target.
[tabindex="-1"]:focus {
  outline: 0;
}

// Make sure outline is visible on cols that have .global-link
.col {
  overflow: visible;
}

// Links within content must be underlined
// @link https://make.wordpress.org/themes/handbook/review/accessibility/required/#content-links
.gutenberg-content {
  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  // With exceptions for those that are already styled:
  .comments-link a,
  .tags a,
  .cat a {
    text-decoration: none;
  }
}

// Make theme keyboard accessible with no Javascript enabled
.no-js *:focus {
  outline: $focus-outline-style $focus-outline-color;
}
/* stylelint-enable */
