// Error 404 title
.block-error-404 {
  .container {
    padding: var(--padding-block) 0 var(--padding-block) 0;
  }

  .page-title-heading {
    text-align: left;

    &::after {
      margin: 10px 0;
    }
  }

  h1 {
    margin-bottom: 2rem;
  }
}
