// ------------------------------------------------
// Front page
//
// The most important page on the website goes here.
// You can force the styles by defining them inside
// the body.
// ------------------------------------------------

.cta-section {
  padding-top: calc(var(--padding-container-vertical));
  padding-bottom: 0;

  .cta-button:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media (min-width: $responsivenav) {
  .cta-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;

    .cta-button:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
