.gallery-cat {
  display: grid;
  padding-top: var(--padding-container-vertical);
  padding-bottom: var(--padding-container-vertical);
  column-gap: 30px;
  row-gap: 30px;

  &__single-cat {
    position: relative;
    height: 250px;
    max-height: 400px;
    cursor: pointer;

    &-figure {
      width: auto;
      height: 100%;
      margin-bottom: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $border-radius;
      }
    }
  }

  &__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .4);
    border-radius: $border-radius;
    transition-duration: $transition-duration;
    z-index: 1;
    mix-blend-mode: normal;

    h2 {
      color: $color-light;
      font-weight: $font-weight-medium;
    }
  }

  @media (min-width: $container-ipad) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $responsivenav) {
    grid-template-columns: repeat(3, 1fr);

    &__overlay {
      background-color: rgba(0, 0, 0, .1);

      h2 {
        color: rgba(0, 0, 0, .6);
      }

      &:hover {
        h2 {
          color: $color-light;
        }

        background-color: rgba(0, 0, 0, .4);
      }
    }
  }
}
