/**
 * Background helpers
 */

// Backgrounds

@mixin object-fit-bg-img() {
  height: auto;
  width: auto;
  min-width: 150%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;

  @supports (object-fit: cover) {
    width: 100%;
    height: 100%;
    min-width: auto;
    min-height: auto;
    top: 0;
    left: 0;
    object-fit: cover;
    transform: none;
  }
}

@mixin background-cover() {
  background: {
    size: cover;
    repeat: no-repeat;
    position: center;
  }
}

@mixin background-auto() {
  background: {
    size: 100% auto;
    repeat: no-repeat;
    position: center;
  }
}
