$container-margin: calc((99vw - #{$grid-base-size})/2);
.swiper-container.fp-hero-slider{
    height: 81vh;
   
    .swiper-slide{
        display: flex;
        align-items: center;
        justify-content: center;
        &__link{
            margin-top: 30px;
        }
        
        
        .swiper-content{
            justify-content: center;
            .container{
                padding-left:0;
            }
            z-index: 2;
            position: relative;
            mix-blend-mode: normal;
            margin: 0 auto;
            text-align: center;
            
            width: 100%;
            @media(min-width: $container-desktop){
                width: $grid-base-size /2;
                //margin-left: $container-margin;
            }
            &__info{
                padding: 20px 45px;
                background-color: rgba($color-white, 0.64);
                border-radius: $border-radius;
                svg{
                    width: 60px;
                    height: 60px;
                    fill: $color-main;
                }
            }
            
            &__button{
                margin:30px auto 0 auto;
                border:none;
                &:hover{
                    border:none;
                }
            }
            &__heading{
                color: $color-black;
                @include responsive-font($font-size-max-h4,$font-size-max-h3);
                font-weight: $font-weight-medium;
                margin-bottom: 0;
            }
            &__desc{
                mix-blend-mode: normal;
                font-size:$font-size-small;
                color:$color-dark;
                max-width: 350px;
                margin-top: 0;
                text-align:left;
            }

            @media (min-width:$container-ipad){
                &__heading{
                    @include responsive-font($font-size-max-h2,$font-size-max-h1);
                }
                &__info{
                    svg{
                        width: 80px;
                        height: 80px;
                    }
                }

            }
          
        }
        .image-wrapper{
            .overlay,img{
                width: 100%;
                height: 100%;
            }
            .overlay{
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0,0,0,0.2);
                mix-blend-mode: normal;
                z-index: 1;
                
            }
            img{
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
                object-fit: cover;
            }
        }
    } 

    .swiper-pagination{
        bottom: 5%;
    }
    .swiper-pagination-bullet{
        width: 8px;
        height: 8px;
        opacity: 1;
        background-color: $color-lightgrey;
    }
    .swiper-pagination-bullet-active{
        width: 8px;
        height: 8px;
        background-color: $color-main;
    }
    @media(min-width:$container-ipad-landscape) {
        height: 90vh;
    }
}